// Sale Line on the Home Page

.sale {
    background-color: $brand-color;
    padding: 25px 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;

    .lowercase {
        text-transform: lowercase;
    }


    @media (min-width: 700px) {
        font-size: 2em;
        padding: 10px 0;

        .lowercase {
            font-size: 0.5em;
        }
    }
}