// Men's Page Images - Main Section


.mens-main {
    padding-top: 5%;

    @media (min-width: $tabletScreenWide) {
        padding-top: 0;
    }

    .mens-banner img {
        width: 100%;
    }

    .mens-center-content {
        @media (min-width: $tabletScreenWide) {
            display: flex;
            justify-content: space-evenly;
            padding: 5%;

            img {
                max-width: 30%;
                object-fit: contain;
            }
        }
    }

    .mens-announcement img {
        width: 100%;
    }

    .accessories {
        width: 100%;
    }

    .tops-bottoms-accessories {
        @media (min-width: $tabletScreenWide) {
            display: flex;
            justify-content: space-around;
            padding-top: 5%;

            img {
                width: 30vw;
            }
        }
    }
}