// Brands Collapse Menu


.collapsible {
  background-color: $brand-color;
  border: none;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 1.3em;

  @media (min-width: $tabletScreenWide) {
    background-color: white;
    border: 1px solid black;
  }

  &:after {
    content: '\002B';
    color: black;
    float: right;
  }
}

.active:after {
  content: "\2212";
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: $brand-color;
  padding: 0;
  margin: 0;

  li {
    line-height: 2.5;
    border-top: 1px solid black;

    @media (min-width: $tabletScreenWide) {
      &:first-child {
        border-top: none;
      }
    }

    &:hover {
      background-color: #0000000c;
    }

    a {
      padding-left: 5%;

      @media (min-width: $tabletScreenWide) {
        padding-left: 2%;
      }
    }
  }
}

.gallerywrapper {
  display: none;

  @media (min-width: $tabletScreenWide) {
    display: block;
    position: relative;


    .gallery {
      position: relative;

      &:not(:first-child) {
        display: none;
      }


      .brand-card {
        text-align: center;
        padding-top: 3%;

        &:not(:first-child) {
          display: none;
        }

        .previous {
          position: absolute;
          left: 35%;
          bottom: 50%;
        }

        .next {
          position: absolute;
          bottom: 50%;
          right: 35%;
        }

        img {
          width: 25vw;
          height: 53vh;
          overflow: hidden;
          object-fit: contain;
        }
      }
    }
  }
}

.scroll-images {

  @media (min-width: $tabletScreenWide) {
    display: none;
  }
}