// Men's Page Images - Main Section

* {
    box-sizing: border-box;
}

.mens-banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    size: 25m;
    max-width: 100%;
}

.mens-center-content {
    float: left;
    margin-top: 100px;
    margin-bottom: 100px;

}

.man-street {
    margin-right: 50px;
    margin-left: 100px;
    size: 50%;
}

.man-ledge {
    margin-left: 80px;
    margin-right: 15px;
    width: 600px;
    height: 900px;
}


.mens-announcement {
    display: block;
    margin-left: 300px;
    margin-right: auto;
    margin-bottom: 100px;
}

@media screen and (min-width: 320px) {

    .mens-banner {
        max-width: 100%;
    }

    .mens-announcement {
        align-content: center;
    }
}