// Slideshow on the Home Page


.slide-show {
    // display: flex;
    // overflow: hidden;
    height: 70vh;
    margin-bottom: 20%;
}

.home-slide-show img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

// .prev,
// .next {
//     cursor: pointer;
//     position: absolute;
//     top: 50%;
// }

// .prev {
//     left: 10px;
// }

// .next {
//     right: 10px;
// }