// .coloured-header {
//     background-color: $brand-color;
// }


nav {
    display: none;

    @media (min-width: $tabletScreenWide) {
        display: flex;
    }
}


.womens-main {
    padding: 20px 0;
    display: flex;


    .clothing-category-nav,
    .filter-by-nav {
        display: block;
        // position: fixed;
        font-size: 0.9em;
        padding-left: 10px;

        a,
        li {
            // font-size: 0.7em;
            line-height: 1.9;
        }

        ul {
            padding: 0 10px 0 15px;
        }
    }

    .card-container {
        display: grid;
        grid-template-columns: 45% 45%;
        justify-content: space-evenly;

        .card-details {
            padding-bottom: 20px;
        }
    }
}